body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header_body, .footer{
    background-color: #1F2937;
}

.header_body {
    display: flex;
    flex-direction: column;
}

.header_navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_logo {
    color: #F9FAF8;
    font-size: 18px ;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.central_header {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
}

h1 {
    margin: 0px;
    width: 350px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.website_description {
    margin-top: 8px;
    width: 470px;
    color: #E5E7EB;
    font-size: 18px;
}

.header_button {
    border: none;
    border-radius: 8px;
    padding: 8px 36px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.image_placeholder {
    padding: 110px 80px;
    background-color: rgba(122, 122, 122, 0.692);
    color: #E5E7EB;
    font-size: 18px;
}